<!DOCTYPE html>
<htlm>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">           <!-- path absoluto del web server que empieza en public -->
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Este sitio fue creado by FFG. Usa datos de mapbox.com y weatherstack.com</p>
            <img class="portrait" src="/img/gente.jpg" />
        </div>
        {{>footer}}
    </body>
</htlm>