<!DOCTYPE html>
<htlm>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">           <!-- path absoluto del web server que empieza en public -->
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <table border="1" width="100%"><tr><td>Help Page!</td></tr></table>
        </div>
        {{>footer}}
    </body>
</htlm>