<header>
    <h1>{{title}}</h1>
    <div>
        <a href="/">Wather</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/help">Help</a>
    </div>
</header>

